<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://bmob-cdn-20607.b0.upaiyun.com/2018/07/19/0f23ffb440fe65948044fb7019e9d147.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://bmob-cdn-20607.b0.upaiyun.com/2018/07/19/254264e840d5951f8033260378fe4720.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://bmob-cdn-20607.b0.upaiyun.com/2018/07/19/7f814477409f38e580c9c04e8609c242.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cgwx.SenseBuy.ss</string>
				<key>bundle-version</key>
				<string>2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SenseBuy</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
